@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@layer base {
    @font-face {
      font-family: 'mont-regular';
      src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    }
  }

@layer base {
    @font-face {
      font-family: 'coveat-regualr';
      src: url("../fonts/coveat/static/Caveat-Regular.ttf") format("truetype");
    }
  }


.navbar{
    @apply h-24 text-hex-black flex items-center justify-between px-5;
}

.u-list{
    @apply flex items-center text-2xl font-semibold;
}

.main-page-tag{
  @apply text-center text-3xl font-semibold;
}

.bor-der{
    @apply border border-hex-black;
}

.div-of-img{
  @apply flex items-center w-2/4 m-auto justify-start my-4;
}

.contact-img{
  @apply w-12 h-12 mr-10;
}

.contact-link{
  @apply underline font-medium hover:no-underline hover:text-hex-bluish-type text-lg;
}

.contact-input{
  @apply border border-gray-600 px-1.5 rounded block mx-auto w-2/4 outline-none bg-hex-light-blue;
}

.for-table{
  @apply bor-der mx-auto w-3/5 text-center leading-7;
}

.skill-div{
  @apply w-3/6 mx-auto flex items-center justify-between my-5;
}

.skills-span{
  @apply  bg-hex-sky-blue h-full flex items-center rounded-sm;
}

.project-img{
  @apply w-full h-full object-cover rounded-sm opacity-70 group-hover:scale-110 duration-300 ease-in-out;
}

.project-img-hover{
  @apply absolute inset-0 bg-gradient-to-t from-hex-sky-blue to-hex-light-gray translate-y-full group-hover:translate-y-0 duration-300 ease-linear opacity-50;
}

/* .hide{
  @apply hidden;
} */

#sun{
  display: none;
}

/* can also be */
/* :root {
  --hex-black: #000;
  --hex-white: #fff;
  --hex-green-type: #95C11E;
  --hex-bluish-type: #1d31a3;
} */